<!-- base template -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explorer Buddy</title>

    <!-- Linking to JavaScript and CSS needed for Boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Link to Litera Bootswatch Theme, and Custom CSS Styles -->
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- NAVBAR -->
    <!-- Credit to the 'Tech with Tim' YouTube channel for inspiring this code: https://www.youtube.com/watch?v=914JH3t64Kg-->
    <div class="sidenav bg-dark">
        <ul>
            <!-- Brandmark and link to create button -->
            <li>
                <a href="#" class="navbar-brand d-flex w-50 mr-auto text-white">
                    <img class="img-circle" src="{% static 'images/brandmark.png' %}" width="60" height="60" alt="">
                    <!-- user sees their name if signed in -->
                    {% if not user.is_authenticated %}
                        <span class="brandmark">Explorer<br>Buddy</span>
                    {% else %}
                        <span class="brandmark">Hello,<br>{{ user.username }}!</span>
                    {% endif %}
                </a>
            </li>
            <br>
            <!-- is user is signed in, they can CRUD their notes, and log out -->
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'notes:create_note_form' %}"><button class="btn btn-success">New Note</button></a>
                </li>
                <br>
                {% for note in notes %}
                    <li>
                        <a class="note-links" href="{% url 'notes:notes-detail-page' note.slug %}">{{ note.title}}</a>
                    </li>
                    <br>
                {% endfor %}
                    <li>
                        <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Log Out</a>
                    </li>
            <!-- Otherwise, the user can only login or signup -->
            {% else %}
                <li>
                    <a href="{% url 'login' %}" class="btn btn-secondary bg-success ml-2">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="container">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>
