.sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    Left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav .note-links {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    display: block;
    font-size: 25px;
}

.sidenav .notelinks:hover {
    color: yellow;
}

.sidenav .brandmark {
    font-size: 20px;
    padding: 0px 0px 5px 10px;
}

.container {
    margin-left: 190px;
    padding: 0px 0px;
    position: relative;
}

ul, ol, li {
    list-style-type: none;
}

.img-circle {
      border-radius: 15px;
}
