{% extends "base_templates/base_for_index.html" %}
{% load static %}
<!-- Uses top navbar -->
{% block navbar %}
    {% include "partials/top-nav.html" %}
{% endblock %}

{% block content %}

    <!-- Notes Index -->
    <div class="container justify-content-center">
        <br>
        <div class="row">
            <h2>Here Are Your Notes, {{ user.username }}:</h2>
        </div>
        <br>
        <!-- cards for the user's notes -->
        {% if notes %}
          <div class="card-columns">
            {% for note in notes %}
               {% include "partials/notecard.html" %}
            {% endfor %}
          </div>
        {% else %}
          <div class="alert alert-primary" role="alert">You don't have any notes to display.</div>
        {% endif %}
    </div>

{% endblock %}
