{% extends "base_templates/base_for_index.html" %}
{% load static %}
<!-- Uses top navbar -->
{% block navbar %}
    {% include "partials/top-nav.html" %}
{% endblock %}

<!-- User profile and notes section -->
{% block content %}

    <!-- USER SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- account info -->
                <br>
                <div class="row">
                    <h2>Hello, {{ user.username }}!</h2>
                </div>
                <br>
                <div class="row">
                    <p>Account Information:</p>
                </div>
                <div class="row">
                    <p>Username: {{ user.username }}</p>
                </div>
                <div class="row">
                    <p>Name : {{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="row">
                    <p>Email: {{ user.email }}</p>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <!-- user picture -->
                {# {% if user.profile.mugshot is None %} #}
                    <!-- default image -->
                    <img src="{% static 'images/user-icon.png' %}" alt="User profile image">
                {# {% else %} #}
                    <!-- display user uploaded image -->
                {# {% endif %} #}
            </div>
        </div>
    </div>

    <!-- Notes Index -->
    <div class="container justify-content-center">
        <div class="row">
            <h2>Here Are Your Notes:</h2>
        </div>
        <!-- cards for the user's notes -->
        {% if notes %}
          <div class="card-columns">
            {% for note in notes %}
               {% include "partials/notecard.html" %}
            {% endfor %}
          </div>
        {% else %}
          <div class="alert alert-primary" role="alert">No pages to display.</div>
        {% endif %}
        <div class="row justify-content-end">
            <a class="btn btn-success" href="{% url 'notes:create_note_form' %}">New Note</a>
        </div>
        <br>
    </div>

    <!-- FOOTER -->
    <div class="row bg-dark p-5 text-white">
        &copy 2019 Live to Discover Inc.
    </div>
{% endblock %}
