<!-- delete template -->
{% extends "base_templates/base.html" %}

<!-- Uses side navbar -->


{% block content %}

    <h2>This is What You Are Deleting:</h2>
    <!-- Preview of the note being deleted -->
    {% include "partials/notecard.html" %}

    <br><br>
    <form method="post">
        {% csrf_token %}
        <h3>Are you sure you would like to delete "{{ note }}"?</h3>
        <button class="btn btn-danger" type="submit">Confirm</button>
    </form>
    <a href="{% url 'notes:notes-detail-page' note.slug %}"><button class="btn btn-primary">Back to Notes List</button></a>

{% endblock %}
