{% extends 'base.html' %}

{% block content %}
<span class="d-block">
    <div class="card">
        <div class="card-img-top">
            {% if note.media is not None %}
                <h4>Your Media:</h4>
                    <img src="{{ note.media }}" alt="Picture goes here.">
                    <br><br>
            {% endif %}
        </div>
        <div class="card-header text-center">
            <h1>{{ note.title }}</h1>
        </div>
        <div class="card-body">
            <h3 class="card-title">Your Observations:</h3>
            <p class="card-text">{{ note.content }}</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row justify-content-center">
                <div class="d-flex w-50 mr-auto">
                    <!-- Links for card footer -->
                    <a href="{% url 'notes:edit_note_form' note.slug %}"><button class="btn btn-primary">Update Note</button></a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">Delete Note</button>
                </div>
                <br>
                <p>Last updated: {{ note.modified }}</p>
            </div>
        </div>
    </div>
    </span>
    <!-- Modal for Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-dark" id="DeleteModalLabel">Watch Out!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                            {% csrf_token %}
                            <h3>Are you sure you would like to delete "{{ note }}"?</h3>
                            <!--<button class="btn btn-danger" type="submit">Confirm</button>-->
                    </div>
                    <div class="modal-footer bg-dark">
                        <button class="btn btn-danger" type="submit" data-dismiss="modal">Confirm Delete</button>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    {# <a href="{% url 'notes:notes-list-page' %}"><button class="btn btn-secondary">Back to All Notes</button></a>#}

{% endblock %}
