{% extends "base_templates/base.html" %}

<!-- Uses side navbar -->


{% load static %}
{% block content %}
<span class="d-block">
    <div class="card">
        <!-- <img src="{% static 'media/nikolas-noonan-fQM8cbGY6iQ-unsplash_G6OvGtz'}" alt="" class="card-img-top">-->
        <!-- Commented to focus on UI/UX   {# {% if note.media is null %} #}-->
        <!-- {#{% if note.media is not None %}
            <img src="{{ note.media.image.url }}" alt="Picture goes here.">
            <br><br>
        {% endif %} #} -->
        {% if note.title == 'Hurricanes' %}
            <img src="{% static 'images/nikolas-noonan-fQM8cbGY6iQ-unsplash_G6OvGtz.jpg' %}" height=750 width=250 alt="" class="card-img-top">
        {% else %}
        {% endif %}
        <div class="card-header text-center">
            <h1>{{ note.title }}</h1>
        </div>
        <div class="card-body">
            <h3 class="card-title">Your Observations:</h3>
            <p class="card-text">{{ note.content }}</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row justify-content-center">
                <div class="d-flex w-50 mr-auto">
                    <!-- Links for card footer -->
                    <a href="{% url 'notes:edit_note_form' note.slug %}"><button class="btn btn-primary">Update Note</button></a>
                    <a href="{% url 'notes:delete_note' note.slug %}"><button class="btn btn-danger">Delete Note</button></a>
                </div>
                <br>
                <p>Last updated: {{ note.modified }}</p>
            </div>
        </div>
    </div>
    </span>

    <br>
    {# <a href="{% url 'notes:notes-list-page' %}"><button class="btn btn-secondary">Back to All Notes</button></a>#}

{% endblock %}
