{% extends "base.html" %}

<!-- Uses side navbar -->


<!-- Credit to Corey Schaefer for his tutorial on password reset: https://www.youtube.com/watch?v=-tyBEsHSv7w&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=12 -->
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form class="form-group" method="post">
        {% csrf_token %}
        <!-- field to enter email -->
        <legend class="border-bottom mb-4">Reset Your Password</legend>
        {{ form|crispy }}
        <br>
        <!-- button to submit form -->
        <button class="btn btn-primary" type="submit">Send Reset Email</button>
    </form>
</div>

{% endblock %}
